Repository kubernetes-csi/csi-lib-utils, pull requests merged in 2021-08, with the labels that each got.

#96 fixing scripts that used to point to https://github.com/google/protob…
  protosanitizer/test/Makefile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS

#98 Update k8s dependencies to v1.22.0
  go.mod
  go.sum
  vendor/golang.org/x/time/rate/rate.go
  vendor/k8s.io/api/apps/v1/generated.pb.go
  vendor/k8s.io/api/apps/v1/generated.proto
  vendor/k8s.io/api/apps/v1/types.go
  vendor/k8s.io/api/apps/v1/types_swagger_doc_generated.go
  vendor/k8s.io/api/apps/v1/zz_generated.deepcopy.go
  vendor/k8s.io/api/apps/v1beta1/generated.pb.go
  vendor/k8s.io/api/apps/v1beta1/generated.proto
  vendor/k8s.io/api/apps/v1beta1/types.go
  vendor/k8s.io/api/apps/v1beta1/types_swagger_doc_generated.go
  vendor/k8s.io/api/apps/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/api/apps/v1beta2/generated.pb.go
  vendor/k8s.io/api/apps/v1beta2/generated.proto
  vendor/k8s.io/api/apps/v1beta2/types.go
  vendor/k8s.io/api/apps/v1beta2/types_swagger_doc_generated.go
  vendor/k8s.io/api/apps/v1beta2/zz_generated.deepcopy.go
  vendor/k8s.io/api/batch/v1/generated.pb.go
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  vendor/k8s.io/api/batch/v1/zz_generated.deepcopy.go
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/apimachinery/pkg/util/yaml/decoder.go
  vendor/k8s.io/client-go/applyconfigurations/apps/v1/statefulsetpersistentvolumeclaimretentionpolicy.go
  vendor/k8s.io/client-go/applyconfigurations/apps/v1/statefulsetspec.go
  vendor/k8s.io/client-go/applyconfigurations/apps/v1beta1/statefulsetpersistentvolumeclaimretentionpolicy.go
  vendor/k8s.io/client-go/applyconfigurations/apps/v1beta1/statefulsetspec.go
  vendor/k8s.io/client-go/applyconfigurations/apps/v1beta2/statefulsetpersistentvolumeclaimretentionpolicy.go
  vendor/k8s.io/client-go/applyconfigurations/apps/v1beta2/statefulsetspec.go
  vendor/k8s.io/client-go/applyconfigurations/batch/v1/jobstatus.go
  vendor/k8s.io/client-go/applyconfigurations/batch/v1/uncountedterminatedpods.go
  vendor/k8s.io/client-go/applyconfigurations/internal/internal.go
  vendor/k8s.io/client-go/plugin/pkg/client/auth/exec/metrics.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note-none, size/XXL

#99 Add changelog for v0.10.0
  CHANGELOG/CHANGELOG-0.10.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/L
